{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    {% if user.is_superuser %}
        <li>
            <a href="{% url 'admin:import_csv' %}" class="addlink">
                {% translate "Import CSV" %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if user.is_superuser %}
        {{ block.super }}
    {% else %}
        {% for filter in cl.filters.spec %}
            {% if filter.title == 'By client' %}
                <div class="filter" id="changelist-filter">
                    <h3>{{ filter.title }}</h3>
                    <ul>
                        {% for spec in filter.spec %}
                            {% if spec.title == user.client.name %}
                                <li class="selected">
                                    <a href="?client__id__exact={{ user.client.id }}">{{ spec.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                {{ filter.render }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
